<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">    
<!--     
    namespace：必须与对应的接口全类名一致  UserMapper.java  
    id ：必须与对应接口的某个对应的方法名一致即必须要和UserMapper.java接口中的方法同名。  
 -->    
 <mapper namespace="com.gxuwz.lab_assistant.web.mapper.EnrollInfoMapper">  
   
    <insert id="enroll" parameterType="RecPlanAndSysUserForEnrollInfo">  
        insert into enroll_info(en_info_id,en_info_time,technica,lab_id,lab_name,rec_plan_id,user_id) values(#{enInfoId},#{enInfoTime},#{technica},#{labId},#{labName},#{recPlanId},#{userId})  
    </insert> 
    
    <select id="findAllMySelfEnInfo" parameterType="EnrollInfo">    
        
    </select>
    
    <delete id="deleteEnrollInfo" parameterType="String">    
        delete from t_user where user_id=#{id}    
    </delete> 
      
    <update id="updateEnrollInfo" parameterType="RepairApply">    
        update t_user set user_name=#{userName},user_age=#{age} where user_id=#{id}    
    </update>   
     
    
 </mapper>