<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">    
<!--     
    namespace：必须与对应的接口全类名一致  UserMapper.java  
    id ：必须与对应接口的某个对应的方法名一致即必须要和UserMapper.java接口中的方法同名。  
 -->    
 <mapper namespace="com.gxuwz.lab_assistant.web.mapper.SysUserMapper">  
   
    <!-- <insert id="save" parameterType="User">  
        insert into t_user(user_name,user_age) values(#{userName},#{age})  
    </insert>  
      
    <update id="update" parameterType="User">    
        update t_user set user_name=#{userName},user_age=#{age} where user_id=#{id}    
    </update>   
      
    <delete id="delete" parameterType="int">    
        delete from t_user where user_id=#{id}    
    </delete>    
        
     mybsits_config中配置的alias类别名,也可直接配置resultType为类路径       -->  
     
     <select id="findSysUserRole" resultType="Role">
        select r.role_id roleId,r.role_name roleName,fullname 
        from sys_user u,t_role r,user_role ur
        where u.user_id=#{userId} and ur.role_id = r.role_id and ur.user_id=u.user_id
    </select>
     
    <select id="findSysUserMenu" resultType="Menu">
        select m.menu_id menuId,m.menu_name menuName,m.menu_pid menuPid,m.url,m.icon
        from user_role ur,role_menu rm,menu m
        where ur.user_id=#{userId} and ur.role_id=rm.role_id and rm.menu_id=m.menu_id
    </select>
        
    <select id="findByIdSysUser" resultType="SysUser">
        select user_id userId,user_pwd userPwd,stu_id stuId,stu_name stuName,major_id majorId,inst_id instId,class_id classId,grade,phone,email,per_pic perPic 
        from sys_user 
        where user_id=#{userId}
    </select>
    
    <select id="findAll" resultType="SysUser">
        select user_id userId,stu_id stuId,stu_name stuName,major_id majorId,inst_id instId,class_id classId,grade,phone,email,per_pic perPic from sys_user
    </select>
    
    <insert id="addSysUser">
        insert into sys_user(user_id,stu_id,stu_name,user_pwd,major_id,inst_id,class_id,grade,phone,email,per_pic) values(#{userId},#{stuId},#{stuName},#{userPwd},#{majorId},#{instId},#{classId},#{grade},#{phone},#{email},#{perPic})
    </insert>
    <insert id="addSysUserRole">
        insert into user_role(user_id,role_id) values(#{userId},#{roleId})
    </insert>
      
 </mapper>